* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

section {
    background-attachment: fixed;
    position: relative;
    margin-bottom: 40px;
}

span {
    color: cadetblue;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    align-items: left;
    position: relative;
    justify-content: space-between;
    text-decoration: none;
    display: flex;

}

h1 {
    margin: 0;
}

img {
    display: inline-block;
    margin: 0.5em;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #ccc;
    justify-content: left;
    display: flex;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    display: inline-block;
    position: relative;
    margin: 0 10px;
}

nav a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3 ease-out;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

main {
    max-width: 100%;
    margin: 0 auto;
}

.about {
    background-image: url(./Image/60--lines-1920x1080.png);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
}

.abouts h2 {
	text-align: left;
    font-size: 36px;
    display: flex;
    padding-left: 27px;
    padding-bottom: 5px;
    color: #ccc;
}

p {
    color: white;
    margin:0;
}

.abouts {
    background-image: url("./Image/60--lines-1920x1080.png");
    background-color: rgba(225, 225, 225, 0.5);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 80px 0;
}

.abouts img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.abouts h3 {
    font-size: 28px;
    position: relative;
    padding-left: 39px;
    margin: 0;
    color: #ccc;
}

.abouts p {
    font-size: 18px;
    margin: 0;
    margin-top: 15px;
    color: #ffffff;
}

.abouts ul {
    list-style: none;
}

.abouts ul li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.para {
    margin-top: 20px;
    margin-bottom: 25px;
}

.buttons {
    height: 100px;
    overflow: hidden;
}

.read-more-btn {
    background-color: #0fa58c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.buttons.expanded {
    height: auto;
}

ul.social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.social-media li {
    display: inline-flex;
    margin-right: 50px;
}

ul.social-media li:last-child {
    margin-right: 0;
}

.social-media img {
    width: 50px;
    margin-top: 45px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.social-media a {
    font-size: larger;
    transition: all 0.3;
}

.social-media a:hover {
    transform: scale(1.2);
}

.project {
	background-image: url(./Image/cartographer-1920x1080\(1\).png);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flow-root;
    
}

.project h3 {
    padding: 25px;
    color: rgb(95, 228, 155);
}

.project a {
	display: flex;
	text-align: right;
	margin-top: 10px;
}

.project h2 {
    font-size: 45px;
    margin-top: 30px;
    margin-left: 40px;
    color: #0fa58c;
    font-weight: 700;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	font-size:  15px;
    justify-content: center;
    position: relative;
    display: flex;
}